<td>
    {% if result.rl_analyze %}
    <strong>Third party reputations:</strong> {{ result.rl_analyze.reports }}<br/>
    <ul>
        <li><strong>Malicious count:</strong> {{ result.rl_analyze.count }}</li>
        <li><strong>Malicious downloaded files:</strong> {{ result.rl_analyze.files }}</li>
        <li><strong>Threats:</strong> {{ result.rl_analyze.threats }}</li>
        <li><strong>Link:</strong> <a href="{{ result.rl_analyze.link }}">See on Reversing Labs Spectre Analyze</a></li>
    </ul>
    {% else %}
        Not found
    {% endif %}
</td>
