<td>
    {% if result.rl_analyze %}
    <strong>Third party reputations</strong><br/>
    <strong>Verdict: </strong>{{ result.rl_analyze.malicious }}/{{ result.rl_analyze.suspicious }}/{{ result.rl_analyze.reports }} <i>(Malicious/Suspicious/Total)</i><br/>
    {% if "total_files" in result.rl_analyze %}
      <strong>Downloaded files: </strong>{{ result.rl_analyze.malicious_files }}/{{ result.rl_analyze.suspicious_files }}/{{ result.rl_analyze.total_files }} <i>(Malicious/Suspicious/Total)</i><br/>
    {% endif %}
    <strong>Threats:</strong> {{ result.rl_analyze.threats }}<br/>
    <strong>Link:</strong> <a href="{{ result.rl_analyze.link }}">See on Reversing Labs Spectra Analyze</a><br/>
    {% else %}
        Not found<br/>
    {% endif %}
</td>
